    body {
        margin: 0;
        padding: 0;
        height: 100vh; /* Full viewport height */
        position: relative; /* Ensures positioning context for child elements */
        /* font-family: 'Sawarabi Mincho', serif; */
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        background-color:#04383F
    }


    /* Left image */
    .left-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        z-index: -1; /*  image to the back */
    }

    /* Right image */
    .right-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        z-index: -1; /* image to the back */
    }

    .right-bottom-image {
        position: absolute;
        bottom: 0;
        right: 0;
        /* width: 100px; Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        padding: 8px 12px;
        margin: 5px;
    }
    


    .bismillah {
        width: 300px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }


    .golden-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto; /* Allow it to grow */
        min-height: 270px;
        width: 90%; /* Responsive width */
        max-width: 100%;
        margin-top: 30px;
        
        border: 1px solid gold; /* Thick border */
        border-radius: 40px; /* Increased border radius */
        background-color: transparent; /* Transparent background */
        box-shadow: 20px 25px 25px rgba(211, 192, 18, 0.3); /* Increased shadow */
    }

    .shiny-gold-text {
        color: #ecc402;
        background: linear-gradient(45deg, #ffd700, #ffac33, #d4af37, #f3a32c, #ffd700);
        /* background-size: 400%; Ensure smooth animation */
        -webkit-background-clip: text; /* Clip the gradient to the text */
        -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
        /* background-position: 100% 50%; */
        animation: shine 4s linear infinite; /* Smooth and continuous animation */
    }

    .golden-card-active {
        border: 5px solid #f3a32c;
        transform: scale(1.05); 
        box-shadow: 0px 0px 30px 30px rgba(211, 192, 18, 0.3);
    }
    
    #pt {
        font-size: 2.9em;
    }

    .prayer_text {
        font-size: 2.8em;
    }

    #hadis_today_text {
        font-size: 3em;
        color: white;
    }

    #div2 {
        display: none;
        height: 625px;
        width: 90%;
        justify-content: center;  /* Centers horizontally */
        align-items: center;  /* Centers vertically */
        color: white; /* Optional: Makes text visible */
        text-align: center; /* Ensures text inside spans multiple lines properly */
    }

    

    #wifi {
        position: fixed;
        bottom: 0;
        left: 0;
        /* Optional styling for better visibility */
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 8px 12px;
        margin: 10px;
        border-radius: 4px;
        font-family: Arial, sans-serif;
      }

    @media (max-width: 768px) {

        .left-image {
            width: 100px; /* Adjust width as needed */
        }

        .right-image {
            width: 100px; /* Adjust width as needed */
        }

        .bismillah {
            width: 150px;
            margin-bottom: 0px;
        }

        .prayer_text {
            font-size: 1.5em;
        }

        #hadis_today_text {
            font-size: 1.5em;
        }

        #pt {
            font-size: 1.5em;
        }

        .golden-card {
            height: auto !important;
            min-height: fit-content;
            /* clear: both; */
            justify-content: center;
            text-align: center;
            padding-bottom: 2px;
            padding-top: 2px;
            margin-top: 10px;
        }

      

    }



