<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prayer Times</title>
    <link href="/public/fronts/google-fronts.woff2" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <img src="/public/images/s1.png" alt="Left Image" class="left-image"> <!-- Replace with your left image -->
    <img src="/public/images/s2.png" alt="Right Image" class="right-image"> <!-- Replace with your right image -->

    <div class="container-fluid text-center">
        <div class="row-fluid w-100">
            <img onclick="window.location.href='/update'" 
                 src="/public/images/bismillah.png" 
                 class="bismillah" alt="Centered Image">
        </div>
    
        <div class="row-fluid w-100 d-flex flex-column justify-content-center align-items-center" id="main-content">
            <div class="text-center" id="div1" style="width: 90%;" >  
                <div class="row justify-content-center">
                    <h1 onclick="window.location.href='/update'" class="text-white" id="pt">Prayer Gathering At The Masjid</h1>
                </div>              
                <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-6 col-xs-6">
                            <div class="golden-card" id="asr_card">
                                <div class="prayer_text shiny-gold-text">(العصر)</div>
                                <div class="prayer_text shiny-gold-text" id="asr_api"></div>
                                <div class="prayer_text shiny-gold-text" id="asr"></div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-sm-6 col-xs-6">
                            <div class="golden-card" id="dhuhr_card">
                                <div class="prayer_text shiny-gold-text">(الظهر)</div>
                                <div class="prayer_text shiny-gold-text" id="dhuhr_api"></div>
                                <div class="prayer_text shiny-gold-text" id="dhuhr"></div>
                                <div class="prayer_text shiny-gold-text" id="jummah"></div>  
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-6">
                            <div class="golden-card" id="fajr_card">
                                <div class="prayer_text shiny-gold-text">(الفجر)</div>
                                <div class="prayer_text shiny-gold-text" id="fajr_api"></div>
                                <div class="prayer_text shiny-gold-text" id="fajr"></div>
                                <div class="prayer_text shiny-gold-text" id="sunrise"></div>   
                            </div>
                        </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6 col-xs-6">
                            <div class="golden-card" id="isha_card">
                                <div class="prayer_text shiny-gold-text">(العشاء)</div>
                                <div class="prayer_text shiny-gold-text" id="isha_api"></div>
                                <div class="prayer_text shiny-gold-text" id="isha"></div>
                                <div class="prayer_text shiny-gold-text" id="tarawih"></div>  
                            </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-6">
                            <div class="golden-card" id="magrib_card">
                                <div class="prayer_text shiny-gold-text">(المغرب)</div>
                                <div class="prayer_text shiny-gold-text" id="magrib_api"></div>
                                <div class="prayer_text shiny-gold-text" id="magrib"></div>
                                
                            </div>
                     </div>
                </div>
        
            </div> <!-- div1 ednd-->

        
            <div id="div2" style="display: none;" class="">
                <div class="row justify-content-center">
                    <div id="hadis_today_text" style="white-space: pre-wrap;"></div>
                </div>
            </div>
        
        <div class="row w-100 d-flex flex-column justify-content-center align-items-center" id="footer-content">
            <div class="my-5">
                <div class="text-center">
                    <h1 id="head_line" style="text-align: center; size: 200em; color: white; margin-bottom: 25px;">Dua for entering the masjid</h5>
                    <h3 id="first_line" style="color: white;">اللَّهُمَّ افْتَحْ لِي أَبْوَابَ رَحْمَتِكَ </h3>
                    <h3 id="second_line" style="color: white;"> O Allah! open for me the doors of thy mercy</h3>
                </div>
            </div>
        
            <div class="footer-div" style="color: white;">
                 Potsdam Masjid, 110 Elm St, Potsdam, NY 13676 
                 <span id='wifi' class="pull-right"></span>
                 <div class="right-bottom-image">
                    <p style="margin: 0; padding: 0;">Website</p>
                    <img width="100px" src="/public/images/web_link_qr_code.png" alt="QR Code" class="qr-code">
                 </div>
                 
                <!-- Scan the QR code for up-to-date information -->
            </div>
        </div>
    
    </div>

</body>
 
    
    <!-- jQuery -->
    <script src="/public/js/jquery3_5_1.min.js"></script>
    <!-- Popper.js -->
    <script src="/public/js/proper.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/public/js/bootstrap.min.js"></script>

   
    <script>
        const dataFetchInterval = 10000; // 10 seconds
        const hadisShowInterval = 10000; // 10 seconds

        let hadisArray = [];
        let current_hadis = 0; // Track the current index
      

        function getNextHadis() {

            try {
                const hadis = hadisArray[current_hadis]; // Get the current hadis
                current_hadis = (current_hadis + 1) % hadisArray.length; // Move to the next index (circular)
                return hadis;
            } catch (error) {
                console.error('Error fetching or parsing hadis:', error);
                return '';
            }

        }
          async function updatePrayerTimes() {
            try {
                const response = await fetch('/prayer-times');
                const data = await response.json();
      
                if (data.prayers) {

                    if(data.prayers.fajr_api){
                        const element = document.getElementById('fajr_api');
                        element.innerHTML = 'Fajr '+data.prayers.fajr_api
                    } 

                    if(data.prayers.fajr){
                        const fajr = getIqaamahTime(data.prayers.fajr_api, data.prayers.fajr);
                        const element = document.getElementById('fajr');
                        element.innerHTML = 'Iqama '+fajr
                    }

                    if(data.prayers.sunrise){
                        const element = document.getElementById('sunrise');
                        element.innerHTML = 'Sunrise '+data.prayers.sunrise
                    }

                    if(data.prayers.dhuhr_api){
                        const element = document.getElementById('dhuhr_api');
                        element.innerHTML = 'Dhuhr '+data.prayers.dhuhr_api
                    }

                    if(data.prayers.dhuhr){
                        const dhuhr = getIqaamahTime(data.prayers.dhuhr_api, data.prayers.dhuhr);
                        const element = document.getElementById('dhuhr');
                        element.innerHTML = 'Iqama '+dhuhr
                    }

                    if(data.prayers.jummah){
                        const element = document.getElementById('jummah');
                        element.innerHTML = 'Jummah '+data.prayers.jummah
                    }

                    if(data.prayers.asr_api){
                        const element = document.getElementById('asr_api');
                        element.innerHTML = 'Asr '+data.prayers.asr_api
                    }


                    if(data.prayers.asr){
                        const asr = getIqaamahTime(data.prayers.asr_api, data.prayers.asr);
                        const element = document.getElementById('asr');
                        element.innerHTML = 'Iqama '+asr
                    }

                    if(data.prayers.magrib_api){
                        const element = document.getElementById('magrib_api');
                        element.innerHTML = 'Magrib '+data.prayers.magrib_api
                    }

                    if(data.prayers.magrib){
                        const magrib = getIqaamahTime(data.prayers.magrib_api, data.prayers.magrib);
                        const element = document.getElementById('magrib');
                        element.innerHTML = 'Iqama '+magrib
                    }

                    if(data.prayers.isha_api){
                        const element = document.getElementById('isha_api');
                        element.innerHTML = 'Isha '+data.prayers.isha_api
                    }

                    if(data.prayers.isha){
                        const isha = getIqaamahTime(data.prayers.isha_api, data.prayers.isha);
                        const element = document.getElementById('isha');
                        element.innerHTML = 'Iqama '+isha
                    }
                    if(data.prayers.tarawih){
                        const element = document.getElementById('tarawih');
                        element.innerHTML = 'Tarawih '+data.prayers.tarawih
                    }
                   
                }

                if (data.ssid) {
                    document.getElementById('wifi').textContent = data.ssid;
                }


                // Update noticeprayerTimes
                if (data.notice) {
                    if (data.notice.head_line != '') {
                        document.getElementById('head_line').textContent = data.notice.head_line || '';
                        document.getElementById('first_line').textContent = data.notice.first_line || '';
                        document.getElementById('second_line').textContent = data.notice.second_line || '';
                    }else {
                        document.getElementById('head_line').textContent = data.notice_default.head_line || '';
                        document.getElementById('first_line').textContent = data.notice_default.first_line || '';
                        document.getElementById('second_line').textContent = data.notice_default.second_line || '';
                    }
                    
                }

                if (data.hadis) {
                    hadisArray = []
                    hadisArray.push(data.hadis.hadis1)
                    hadisArray.push(data.hadis.hadis2)
                    hadisArray.push(data.hadis.hadis3)
                    hadisArray.push(data.hadis.hadis4)
                    hadisArray.push(data.hadis.hadis5)
                    if (current_hadis == 0) {
                        document.getElementById('hadis_today_text').textContent = getNextHadis();
                    }   
                }


                // highlight active prayer
                // if (data.prayers) {
                //     highlightActivePrayer(data.prayers);
                // }
            } catch (error) {
                console.error('Error fetching or parsing prayer times:', error);
            }
        }

        // Initial fetch
        updatePrayerTimes();


      
        let isDiv1Visible = true; // Track which div is visible
        document.getElementById("div2").style.display = "none";

        function toggleDivs() {
            if (window.innerWidth <= 768) {
                // Mobile view: Always show div1
                document.getElementById("div1").style.display = "block";
                document.getElementById("div1").style.opacity = "1";
                document.getElementById("div2").style.display = "none";
                // clearInterval(interval); // Stop interval if it's running
                return true;
            }
            
            if (isDiv1Visible) {
                // Fade out div1 and fade in div2
                document.getElementById("div1").style.opacity = "0";
                // setTimeout(() => {
                    document.getElementById("div1").style.display = "none";
                    
                    // set class to div2
                    document.getElementById("div2").className = "d-flex justify-content-center align-items-center";

                    document.getElementById("div2").style.display = "block";
                    document.getElementById("div2").style.opacity = "1";
                // }, 2000); // Matches transition duration
            } else {
                // Fade out div2 and fade in div1
                document.getElementById("div2").style.opacity = "0";
                // setTimeout(() => {
                    document.getElementById('hadis_today_text').textContent = getNextHadis();
                    document.getElementById("div2").style.display = "none";
                    document.getElementById("div2").className = "";
                    document.getElementById("div1").style.display = "block";
                    document.getElementById("div1").style.opacity = "1";
                // }, 2000);
            }

            isDiv1Visible = !isDiv1Visible; // Toggle state
        }


        // Function to convert "hh:mm AM/PM" to minutes since midnight
        function timeToMinutes(time) {
            try {
                const [timePart, period] = time.split(" ");
                let [hours, minutes] = timePart.split(":").map(Number);
            
                if (period === "PM" && hours !== 12) hours += 12; // Convert PM hours to 24-hour format
                if (period === "AM" && hours === 12) hours = 0;   // Convert 12 AM to 0
            
                return hours * 60 + minutes; // Return total minutes since midnight
            } catch (error) {
                console.error("Error converting time to minutes:", error);
                return null;
            }
            
        }

        function getIqaamahTime(prayerTimeApi, prayerTime) {
            if (prayerTime.includes('@')) {
                return prayerTime.replace('@', '');
            }

            let apiTimeInMinutes = timeToMinutes(prayerTimeApi);
            let timeInMinutes = timeToMinutes(prayerTime);

            if (timeInMinutes === null) {
                return prayerTimeApi;
            }
            if (apiTimeInMinutes >= timeInMinutes) {
                return prayerTimeApi;
            }else {
                return prayerTime;
            }
        }


        // Function to determine the active prayer
        function highlightActivePrayer(prayerTimes) {
            const now = new Date();
            const currentTime = now.getHours() * 60 + now.getMinutes();

            let activePrayer = null;
            
            try {

                // Convert API prayer times to minutes
                const fajrTime = timeToMinutes(prayerTimes.fajr_api);
                const sunriseTime = timeToMinutes(prayerTimes.sunrise);
                const duhrTime = timeToMinutes(prayerTimes.dhuhr_api);
                const asrTime = timeToMinutes(prayerTimes.asr_api);
                const magribTime = timeToMinutes(prayerTimes.magrib_api);
                const ishaTime = timeToMinutes(prayerTimes.isha_api);

                // Determine active prayer
                if (currentTime >= fajrTime && currentTime < sunriseTime) {
                    activePrayer = "fajr_card";
                } else if (currentTime >= duhrTime && currentTime < asrTime) {
                    activePrayer = "dhuhr_card";
                } else if (currentTime >= asrTime && currentTime < magribTime) {
                    activePrayer = "asr_card";
                } else if (currentTime >= magribTime && currentTime < ishaTime) {
                    activePrayer = "magrib_card";
                } else if (currentTime >= ishaTime || currentTime < fajrTime) {
                    activePrayer = "isha_card"; // Keep Esha active until Fajr
                }

                // Remove previous active class
                document.querySelectorAll(".golden-card").forEach(div => div.classList.remove("golden-card-active"));

                // Add active class to the current prayer
                if (activePrayer) {
                    document.getElementById(activePrayer).classList.add("golden-card-active");
                }
            } catch (error) {
                console.error('Error highlighting active prayer:', error);
            }
        }


       // Use the timerAPI to setInterval
       if (window.timerAPI && typeof window.timerAPI.setInterval === 'function') {
            window.timerAPI.setInterval(updatePrayerTimes, dataFetchInterval);
            window.timerAPI.setInterval(toggleDivs, hadisShowInterval);
        } else {
            console.error('timerAPI is not available. Falling back to standard setInterval.');
            setInterval(updatePrayerTimes, dataFetchInterval);
            setInterval(toggleDivs, hadisShowInterval);
        }
    </script>
    
</html>
