[Unit]
Description=Start Data pulling
After=network.target

[Service]
Type=simple
User=pi
ExecStartPre=/bin/sleep 60 
WorkingDirectory=/home/pi/prayer-times/prayer_app_server/
ExecStart=/home/pi/prayer-times/prayer_app_server/venv/bin/python connect_to_wifi.py
Restart=always
RestartSec=10 
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
