[Unit]
Description=Start Data pulling
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/prayer-times/prayer_app_server/
ExecStart=/home/pi/prayer-times/prayer_app_server/venv/bin/python connect_to_wifi.py
Restart=on-failure
RestartSec=10 
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
